<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Projeto2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario2.css') }}">
    </head>
    <body>
        <div class="form">
            <div>
                <h1>Lista</h1>
            </div>
            <div class="mostrar_produto1">
                <h1>{{form['quantidade1']}}x - {{form['produto1']}} </h1>
            </div>
            <div class="mostrar_produto2">
                <h1>{{form['quantidade2']}}x - {{form['produto2']}}</h1>
            </div>
            <div class="mostrar_produto3">
                <h1>{{form['quantidade3']}}x - {{form['produto3']}}</h1>
            </div>
        </div>
    </body>
</html>